.liked {
  background-color: rgb(66, 47, 236);
  color: white;
  &:hover {
    background-color: rgb(17, 147, 233);
  }
}

.unliked {
  background-color: rgb(182, 170, 170);
  color: white;
  &:hover {
    background-color: rgb(117, 108, 108);
  }
}
